@font-face {
  font-family: "Oracle";
  font-display: swap;
  src: url("./fonts/ABCOracleVariable.woff2") format("woff2"),
    url("./fonts/ABCOracleVariable.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

strong {
  color: #c1d7eb;
  /*
  text-decoration: underline;
  text-decoration-color: #c1d7eb55;
  text-decoration-thickness: 2px;
  */
}

code {
  opacity: 0.9;
  background: #ffffff22;
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid #00000022;
}
